@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.loader-container {
  position: fixed;
  z-index: 20;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  animation: loader-page 2.25s ease-in-out normal forwards;
  opacity: 1;
  background: #353535;
}
.loader-container .logo-loader {
  width: auto;
  height: 30px;
}

.loader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60px;
}
.loader__logo {
  font-family: Shrikhand, "cursive";
  color: white;
  margin-bottom: 50px;
}
.loader__circle1 {
  width: 15px;
  height: 15px;
  margin-top: 50px;
  animation: circle-sparkle 1s ease-in-out alternate-reverse infinite;
  animation-delay: 0.5s;
  border-radius: 50%;
  background: #9356DC;
}
.loader__circle2 {
  width: 15px;
  height: 15px;
  margin-top: 50px;
  animation: circle-sparkle 1s ease-in-out alternate-reverse infinite;
  animation-delay: 1s;
  border-radius: 50%;
  background: #FF79DA;
}
.loader__circle3 {
  width: 15px;
  height: 15px;
  margin-top: 50px;
  animation: circle-sparkle 1s ease-in-out alternate-reverse infinite;
  animation-delay: 1.5s;
  border-radius: 50%;
  background: #99E2D0;
}

@keyframes circle-sparkle {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
@keyframes loader-page {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
.header {
  position: relative;
  grid-area: header;
  box-shadow: -1px -10px 2rem 1px rgba(0, 0, 0, 0.85);
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: 0.2fr 1.6fr 0.2fr;
  grid-template-areas: "nav title .";
}
.header__title {
  font-family: Shrikhand, "cursive";
  grid-area: title;
  margin: 10px;
}
.header__nav {
  grid-area: nav;
}
.header__nav a {
  text-decoration: none;
  color: black;
  vertical-align: middle;
}

.footer {
  background-color: #353535;
  width: 100%;
  bottom: 0;
  color: white;
  position: absolute;
}
.footer__container {
  max-width: 1440px;
  margin: auto;
  padding: 15px;
}
.footer__container .logo {
  font-family: Shrikhand, "cursive";
}
.footer__container ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.footer__container ul li {
  margin-bottom: 5px;
}
.footer__container ul li a {
  text-decoration: none;
  color: white;
}
.footer__icons {
  padding-right: 5px;
  width: 20px;
}

.location {
  text-align: center;
  height: 2.5rem;
  background-color: #f3f3f3;
  line-height: 2.5rem;
}

.content {
  padding: 0 5px;
}
.content__text {
  font-size: 1.125rem;
  font-weight: 100;
}

.button {
  width: 220px;
  height: 50px;
  color: #FFFFFF;
  border: none;
  border-radius: 30px;
  background: linear-gradient(175deg, #FF79DA 10%, #9356DC 95%);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  margin: 15px;
  transition: all 0.4s;
  cursor: pointer;
}
.button:hover {
  transform: scale(1.1, 1.1);
}

.fonction ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
  counter-reset: compteListe;
}
.fonction ol li {
  background-color: grey;
}
.fonction ol li::before {
  counter-increment: compteListe;
  content: counter(compteListe) " ";
  background: #9356dc;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1440px;
  text-align: center;
  margin: auto;
}

/*# sourceMappingURL=main.css.map */
