//IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

//UTILS
@import "./utils/var";
@import "./utils/mixin";
@import "./utils/keyframes";

//COMPONENTS
@import "./components/loader";

//LAYOUTS
@import "./layouts/header";
@import "./layouts/footer";

//PAGES
@import "./pages/home";

// CSS

body {
    margin: 0;
    font-family: $font-text;
}

.container {
    max-width: 1440px;
    text-align: center;
    margin: auto;
}