//IMPORT
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import "./utils/var.scss";
@import "./utils/mixin.scss";
@import "./layouts/loader.scss";
@import "./layouts/header.scss";
@import "./layouts/footer.scss";
@import "./pages/home.scss";

// CSS

body {
    margin: 0;
    font-family: $font-text;
}

.container {
    max-width: 1440px;
    text-align: center;
    margin: auto;
}