.loader-container {
    position: fixed;
    z-index: 20;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    animation: loader-page 2.25s ease-in-out normal forwards;
    opacity: 1;
    background: #353535;

    .logo-loader {
        width: auto;
        height: 30px;
    }
}

.loader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60px;

    &__logo{
        font-family: $logo-titles;
        color: white;
        margin-bottom: 50px;
    }

    &__circle1{
        @include loader__circle(0.5s,#9356DC);
    }

    &__circle2{
        @include loader__circle(1s,#FF79DA);
    }

    &__circle3{
        @include loader__circle(1.5s,#99E2D0);
    }
}