.location {
    text-align: center;
    height: 2.5rem;
    background-color: #f3f3f3;
    line-height:2.5rem;
}

.content{
    padding: 0 5px;

    &__text{
        font-size: 1.125rem;
        font-weight: 100;
    }
}

.button{
    @include button();
}

.fonction{

    ol {
        @include reset_list();
        counter-reset: compteListe;
        display: grid;
        grid-template-columns: 350px;
        grid-template-rows: repeat(3, auto);
    }

    &__step{
        padding: 1.5rem;
        margin: 1rem 0 1rem 1.25rem;
        box-shadow: 0.25rem 0.25rem 0.5rem rgba(0,0,0,.125);
        border-radius: 1.25rem;
        background-color: #f6f6f6;
        display: flex;
        position: relative;

        &::before {
            counter-increment: compteListe;
            content: counter(compteListe) " ";
            position: absolute;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            background: #9356dc;
            left: -0.50rem;
        }

    }

    &__icon{
        width: 25px;
        color: dimgrey;
        padding-left: 10px;
    }
²
    &__text{
        padding-left: 15px;
    }

}