.footer{
    background-color: #353535;
    width: 100%;
    bottom: 0;
    color: white;
    position: absolute;

    &__container{
        max-width: 1440px;
        margin: auto;
        padding: 15px;

        .logo{
            font-family: $logo-titles;
        }

        ul{
            @include reset_list();

            li {

                margin-bottom: 5px;

                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

    &__icons{
        padding-right: 5px;
        width: 20px;
    }
}